{% extends 'base.html' %}

{% block title %}
   <title>CSV Upload</title>
{% endblock title %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="exampleFormControlFile1">Products bulk upload</label>
        <input type="file" name="myFile" class="form-control-file" id="exampleFormControlFile1">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-dark">Upload</button>
    </div>
</form>

{% endblock %}